:root {
    --text-color: #fff;
    --font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: var(--text-color);
    list-style: none;
    text-decoration: none;

    font-family: var(--font-family);
    font-style: normal;
    line-height: normal;
}

.wrapper {
    max-width: 2609px;
    margin: 0 auto;
    overflow: hidden;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    max-height: 100%;

    justify-content: center;
    align-items: center;

    background: url(./img/section1/Hue_Saturation\ 5\ 1.png) no-repeat center;
    background-size: cover;


    .wrapperContent {

        display: flex;
        flex-direction: column;
        align-items: center;


        .logo {
            max-width: 100%;
            height: 80%;
        }

        .boxes {
            position: relative;
            max-width: 100%;
            z-index: 999;


         
        }

    }
    
    .wrapperContent::after{
        content: url('./img/section1/glow 1.png');
        position: absolute;
        bottom: 0;
        top: 0%;
        opacity: .6;
    }

    .wrapperContent::before {
        content: url('./img/section1/BLUE\ GLOW\ 3.png');
        position: absolute;
        bottom: 0;
    }

    .mafiaMen {
        background: url(./img/section1/Layer\ 157\ 2.png) no-repeat right;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .mafiaWomen {
        background: url(./img/section1/Layer\ 157\ 1.png) no-repeat left;

        img {
            width: 100%;
            max-width: 100%;
        }

    }

    .description {
        display: flex;
        flex-direction: column;
        column-gap: 25px;
        text-align: center;

        .descriptionHeader {
            font-size: 42px;
            z-index: 99;
        }

        .descriptionParagraph {
            font-size: 20px;
            z-index: 99;
        }
    }

}

.section1::before {
    content: url('./img/section1/Layer\ 157\ 3.png');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
}

.section2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;


    background: url(./img/section2/background\ wall.png);

    .descriptionHeaderSection2 {
        font-size: 30px;
        color: #416DF4;
        text-align: right;
    }

    .wrapperSection2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        margin-top: 27px;
        column-gap: 165px;

        .logoVito{
            position: relative;
        }

        .logoVito::before{
            position: absolute;
            content: url('./img/section2/Ellipse\ 1.png');
            left: -80%;
        }

        .buttonContainer {
            display: flex;
            justify-content: end;

            margin-top: 39px;
            column-gap: 11px;

            .buttonHanlerServer {
                color: #671D00;
                text-align: center;
                padding: 4px 12px;

                border: 1px solid rgba(103, 29, 0, 0.48);
                background: rgba(0, 0, 0, 0.55);
            }
        }
    }

    .contentItems {

        .contentItem {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            margin-top: 3px;
            column-gap: 19px;
            border: 1px solid rgba(103, 29, 0, 0.48);

            .contentDescription {
                display: grid;
                width: 100%;
                justify-content: center;
                grid-template-columns: 1fr 30% 30%;

            }

        }
    }

    .wrapperBox {

        display: flex;
        flex-direction: row;

        margin-top: 20px;

        .wrapperPayBox {
            display: flex;
            flex-direction: column;
            font-size: 54px;
            justify-content: center;
        }

        .buttonPay {
            width: 180px;
            height: 40px;
            color: #000;
            font-size: 16px;

            padding: 7px 15px;
            border-radius: 7px;
            background-color: #FCFF00;
        }
    }
}

.section2::before{
    content: url('./img/section1/BLUE\ GLOW\ 3.png');
    position: absolute;
    bottom: 0;
    background-size: cover;
}

span:not(:first-child) {
    text-align: center;
}

.symbolRub {
    color: #fff;
}

.image{
    position: relative;
    z-index: 999;
}